In [34]:
import numpy as np
import pandas as pd
import json
from datetime import datetime

In [3]:
pd.read_csv("us_states_covid19_daily.csv")

,date,state,positive,negative,pending,hospitalized,death,total,dateChecked,totalTestResults,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200325,AK,42.0,1649.0,NaN,1.0,1.0,1691,2020-03-25T20:00:00Z,1691,1.0,1.0,663.0,6.0,669.0
1,20200325,AL,283.0,2529.0,NaN,NaN,0.0,2812,2020-03-25T20:00:00Z,2812,0.0,0.0,423.0,68.0,491.0
2,20200325,AR,280.0,1437.0,0.0,22.0,2.0,1717,2020-03-25T20:00:00Z,1717,2.0,0.0,490.0,62.0,552.0
3,20200325,AS,0.0,NaN,NaN,NaN,0.0,0,2020-03-25T20:00:00Z,0,0.0,0.0,0.0,0.0,0.0
4,20200325,AZ,450.0,323.0,53.0,8.0,6.0,826,2020-03-25T20:00:00Z,773,1.0,0.0,10.0,93.0,103.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088,20200304,OR,3.0,29.0,18.0,NaN,NaN,50,2020-03-04T21:00:00Z,32,NaN,NaN,NaN,NaN,NaN
1089,20200304,SC,0.0,5.0,0.0,NaN,NaN,5,2020-03-04T21:00:00Z,5,NaN,NaN,NaN,NaN,NaN
1090,20200304,TX,1.0,NaN,NaN,NaN,NaN,1,2020-03-04T21:00:00Z,1,NaN,NaN,NaN,NaN,NaN
1091,20200304,WA,39.0,NaN,NaN,NaN,NaN,39,2020-03-04T21:00:00Z,39,NaN,NaN,NaN,NaN,NaN
1092,20200304,WI,1.0,19.0,6.0,NaN,NaN,26,2020-03-04T21:00:00Z,20,NaN,NaN,NaN,NaN,NaN

In [4]:
dataCSV = pd.read_csv("us_states_covid19_daily.csv")

array(['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE',
       'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI',
       'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV',
       'WY'], dtype=object)

In [22]:
def tojson(file):
    dataCSV = pd.read_csv(file)
    series = []
    for i in dataCSV.state.unique():
        subset = dataCSV[dataCSV.state == i].sort_values("date", ascending=True)

        dic = {}
        dic["name"] = i
        for col in subset.columns[2:]:
            dic[col] = list(subset[col])

        series.append(dic)
    
    data = {"series": series, "date": [str(i) for i in list(dataCSV["date"])]}
    with open('states.json', 'w') as outfile:
        json.dump(data, outfile, indent = 4)

In [25]:
tojson("us_states_covid19_daily.csv")

In [64]:
def tojson():
    data_us = pd.read_csv("us_covid19_daily.csv")
    data_us.replace(np.nan, "undefined", regex=True, inplace=True)
    data_states = pd.read_csv("us_states_covid19_daily.csv")
    data_states.replace(np.nan, "undefined", regex=True, inplace=True)
    
    data_us = data_us.sort_values("date", ascending=True)
    dates = [str(i) for i in list(data_us["date"])]

    series = []
#     dic = {}
#     dic["name"] = "us"
    
#     for col in data_us.columns[2:]:
#         dic[col] = list(data_us[col])
#     series.append(dic)
    
    for i in data_states.state.unique():
            subset = data_states[dataCSV.state == i].sort_values("date", ascending=True)
            state = {}
            state["name"] = i
            for col in subset.columns[2:]:
                tp = list(subset[col])
                state[col] = ["undefined"]* (len(dates) - len(tp)) + tp
                
                assert (len(state[col]) == len(dates))
            series.append(state)
    
    data = {"series": series, "date": [str(i) for i in list(data_us["date"])]}

    with open('states.json', 'w') as outfile:
        json.dump(data, outfile, indent = 4)
    
    
#     print (data["date"])
#     print (len(series))
#     print ()

In [65]:
tojson()